---
layout: index
title: visualsace
---
{% comment %} <p>{{ post.content | strip_html | truncatewords:150}}</p>%} {% endcomment %}
{% for post in paginator.posts limit: 5 %}
<div class="post">
	<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	<div class="date">{{ post.date | date_to_string }}</div>  
	<p>{{ post.excerpt }}</p>
	<a href="{{ site.baseurl }}{{ post.url }}">Lire la suite...</a>
</div>
{% endfor %}

<!-- Pagination links -->
<div id="post-pagination" class="pagination">
	<ul class="pages">
		<li class="page">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="{{ site.baseurl }}/">&laquo;</a>
				{% else %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&laquo;</a>
				{% endif %}
			{% else %}
				<span>&laquo;</span>
			{% endif %}
	 	</li>
		<li class="page">
			{% if paginator.page == 1 %}
				<span class="current-page">1</span>
			{% else %}
				<a href="{{ site.baseurl }}/">1</a>
			{% endif %}
		</li>
		{% for count in (2..paginator.total_pages) %}
		<li class="page">
			{% if count == paginator.page %}
				<span class="current-page">{{ count }}</span>
			{% else %}
				<a href="{{ site.baseurl }}/page/{{ count }}">{{ count }}</a>
			{% endif %}
		</li>
		{% endfor %}
		<li class="page">
			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}">&raquo;</a>
			{% else %}
				<span>&raquo;</span>
			{% endif %}
		</li>
	</ul>
</div>