<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="L'Alsace en cartes !">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ page.title }}" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" /> 
  <meta property="og:image" content="http://www.visualsace.fr/img/carte_aires_de_jeux_strasbourg.png" /> 
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Lora:700' rel='stylesheet' type='text/css'>
  {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <link rel="stylesheet" href="{{ relative }}css/syntax.css">
  <link rel="stylesheet" href="{{ relative }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ relative }}css/whhg.css">
  <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
  <![endif]-->
   <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <link rel="stylesheet" href="{{ relative }}css/MarkerCluster.css" />
  <link rel="stylesheet" href="{{ relative }}css/MarkerCluster.Default.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
  <link rel="stylesheet" href="{{ relative }}css/style.css">
  <script type="text/javascript">
    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40685997-1']);
    _gaq.push(['_trackPageview']);
  </script>
</head>
<body>
