{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ relative }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ relative }}js/vendor/bootstrap.min.js"></script>
<script src="{{ relative }}js/vendor/modernizr-latest.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.uncompressed.js'></script>
<script src="{{ relative }}js/vendor/leaflet.markercluster-src.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.js"></script> -->
<script src="{{ relative }}js/vendor/ICanHaz.min.js"></script> 
<script src="{{ relative }}js/map.js"></script>
<script type="text/javascript">
      // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40685997-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>